{% for device in labnet["labs"][inventory_hostname]["devices"] %}
{% set device_instances = labnet["labs"][inventory_hostname].get("device_instances", {}).get(device, [device]) %}
{% for instance in device_instances %}
{{ inventory_hostname }}-{{ instance }}:
  acquired: null
  acquired_resources: []
  aliases: []
  allowed: []
  changed: {{ ansible_date_time.epoch }}
  comment: ''
  created: {{ ansible_date_time.epoch }}
  matches:
  - cls: '*'
    exporter: '*'
    group: {{ inventory_hostname }}-{{ instance }}
    name: null
    rename: null
  tags:
    device: {{ device }}
{% endfor %}
{% endfor %}
